.wR,.bR,.wK,.bK,.wB,.bB,.moveable
{
    background-repeat: no-repeat;
    background-position: center; 
    width: 100%;
    height: 100%;
}

.wR
{
    background-image: url("../img/wR.png");
}

.bR
{
    background-image: url("../img/bR.png");
}

.wK
{
    background-image: url("../img/wK.png");
}

.bK
{
    background-image: url("../img/bK.png");
}

.wB
{
    background-image: url("../img/wB.png");
}

.bB
{
    background-image: url("../img/bB.png");
}

.moveable
{
    background-image: url("../img/moveable.png");
}

.menu
{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 5vw;
    width: 40vw; 
    height: 80vh;
    outline:4px solid black;
    padding-bottom: 10vw;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.486);
    
}